In [ ]:
Control Statement:
List
Tuple

In [ ]:
Control Statement:
    1.Conditional 
        -if
          -simple if
          -if else
          -elif ladder
          -Nested if else
        -no switch------->form dictionary ,function,class
            -match-3.10
    2.Looping
        -for
        -while

In [ ]:
#syntax:simple -if
if condition:
    True-stat
    
#syntax:if -else
if condition:
    True-stat  
else:
    False-stat

#syntax:elif ladder
if condition:
    True-stat 
elif condition:
    True-stat
else:#optional
    False-stat


#syntax:Nested if-else:
if condition:
    True-stat
    if condition:
        True-stat  
    else:
        False-stat
else:
    False-stat

### Sum in Range

In [2]:
no1=int(input())
no2=int(input())
sum=no1+no2
#15-20
if sum in range(15,21):
    print('20')
else:
    print(sum)

8
6
14

In [ ]:
#map(function,seq)  seq-list,tuple,range....

In [3]:
no1,no2=map(int,input().split(' '))
print(no1,no2)

10 20
10 20

## vowel or not

In [5]:
ch=input("Input an alphabet:")
if ch in "aeiou":
    print(ch,"is an alphabet")
else:
    print(ch,"is not an alphabet")

Input an alphabet:q
q is not an alphabet

In [ ]:
#.format-python 2
#f-string-python 3

In [10]:
name1,name2="Bharathi","Durga"
print(name1,"and",name2,"are best friends.")
print("{1} and {0} are best friends.".format(name1,name2))
print(f"{name1} and {name2} are best friends.")

Bharathi and Durga are best friends.
Durga and Bharathi are best friends.
Bharathi and Durga are best friends.

In [11]:
print("{1} and {0} are best friends.".format(name2,name1))

Bharathi and Durga are best friends.

### Divisibility Rule

In [ ]:
no/3 =FUN
no/5 =GUN
no /3 and no/5=FUNGUN
not 3 and 5=>invalid

Testcase1:
    no=6   output:FUN
Testcase2:
    no=10   output:GUN
Testcase3:
    no=15   output:FUNGUN
Testcase4:
    no=11  output:Invalid
        
Nested if -else

In [12]:
no=int(input())
if no%3==0 or no%5==0:
    if no%3==0 and no%5==0:
        print("FUNGUN")
    elif no%3==0:
        print("FUN")
    else:
        print("GUN")
else:
    print("Invalid")

15
FUNGUN

In [ ]:
Looping:
    for 
    while
    
for iterator_variable in sequence:#sequence-tuple,list,range.....
    stat
else:
    other-stat
    
while condition:
    statements
else:
    other-stat

In [ ]:
no=>
6---->1 2 3 6------->n time
10--->1 2 5 10
100-->1 2 4 5 10 20 25 50 100 ---->n//2
sqrt(no)--->10
1    100/1=100    100/100=1
2    100/2=50     100/50=2
4    100/4=25
5    100/5=20
10   100/10=10

In [20]:
## factors  of given number
import math
no=int(input())
for i in range(1,int(math.sqrt(no))+1):
    if no%i==0:
        print(i,end=" ")
        if i!=no//i:
            print(no//i,end=" ")

200
1 200 2 100 4 50 5 40 8 25 10 20

In [ ]:
sum of natural no:
    
    no=5
    output=>1+2+3+4+5=15---->n*(n+1)/2

In [ ]:
n=int(input())
for i in range(1,n+1):
    if i!=n:
        print(i,end="+")
    else:
        print(i,end="=")
        print(n*(n+1)/2)

In [21]:
n=int(input())
for i in range(1,n):
    print(i,end="+")
    
print(n,"=",(n*(n+1)//2))

5
1+2+3+4+5 = 15